/* Styling for profile view area */
.profile-header {
  height: 45vh;
  width: 100%;
  background-color: #f8a175;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  position: fixed;
  top:0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-display {
  margin-top: 14vh;
}

#profile-pic {
  height: 20vh;
}

#screen-name {
  font-size: x-large;
  color: #f4f1ec;
  margin-top: 0.5em;
}
