/* Styling for nav bar */
nav {
  z-index: 2;
  height: 80px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  font-size: large;
  top: 0;
  width: 100%;
}

.pageTitle {
  margin-left: 2em;
  font-family: "Bungee", sans-serif;
  font-size: larger;
}

.navButton {
  margin-right: 1.5em;
  display: flex;
  align-content: center;
}

.navImage {
  display: flex;
  margin-top: 8px;
  justify-content: center;
  color: red;
}

.boldText {
  font-weight: 600;
}

.bounce {
  animation: MoveUpDown 2s linear infinite;
  position: relative;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}
